/* General Styles */
.left-side-container {
  position: absolute;
  z-index: 1000;
  width: 30%;
  height: 80vh;
  overflow-y: auto;
  padding: 30px;
  box-sizing: border-box;
  margin-right: 20px;
  background-color: #F5F5F7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* StepOne Styles */
.step-one-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.color-option {
  text-align: center;
}

.color-button {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 2px solid #333;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.color-button.selected {
  box-shadow: 0 0 0 4px #FF6D00, 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 3px solid #FF6D00;
}

.color-button.hover {
  transform: scale(1.05);
  filter: brightness(0.9);
}

.color-name {
  margin-top: 12px;
  font-size: 15px;
  color: #444;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* StepTwo Styles */
.pocket-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.pocket-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .left-side-container {
    width: 190px;
    height: 42vh;
    padding: 0px;
  }

  .step-one-container {
    gap: 8px;
  }

  .color-button {
    width: 40px;
    height: 40px;
  }

  .color-name {
    font-size: 12px;
  }
} 